<%-
  sorted_summary_data = summary_data
    .group_by { |datum| datum[:project_name] }
    .values
    .sort_by { |sub_data| -sub_data.sum { |datum| datum[:weight_percentage] } }
    .map do |sub_data|
      sub_data.sort_by { |datum| -datum[:weight_percentage] }
    end
    .flatten(1)
-%>
<div class="card-group">
  <div class="card border-primary">
    <div class="card-body">
      <h5 class="card-title">Summary</h5>
      <ul class="list-unstyled user-select-all">
        <%- sorted_summary_data.each do |datum| -%>
          <%-
            weight_percentage = datum[:weight_percentage]
            next if weight_percentage.zero?
          -%>
          <li>
            -
            <%= datum[:project_name] %> |
            <%= datum[:category] %> -
            <%= number_to_percentage(weight_percentage, strip_insignificant_zeros: true) %>
          </li>
        <%- end -%>
      </ul>
    </div>
  </div>

  <div class="card border-success">
    <div class="card-body">
      <h5 class="card-title">Rounded</h5>
      <ul class="list-unstyled user-select-all">
        <%- remainder = 100 -%>
        <%- sorted_summary_data.each do |datum| -%>
          <%-
            weight_percentage = [remainder, datum[:weight_percentage].round].min
            next if weight_percentage.zero?

            remainder -= weight_percentage
          -%>
          <li>
            -
            <%= datum[:project_name] %> |
            <%= datum[:category] %> -
            <%= number_to_percentage(weight_percentage, strip_insignificant_zeros: true) %>
          </li>
        <%- end -%>
      </ul>
    </div>
  </div>
</div>
