<p style="color: green"><%= notice %></p>

<%= render @report_mail_task %>

<div>
  <%= link_to "Edit this report mail task", [:edit, @project, @report_mail_task] %> |
  <%= link_to "Back to report mail projects", [@project.report_mail, @project] %>

  <%= button_to "Destroy this report mail task", [@project, @report_mail_task], method: :delete %>
</div>
