<p style="color: green"><%= notice %></p>

<div class="card border-primary mb-4">
  <div class="card-body">
    <%= render @report_mail_project %>

    <div class="my-4 d-flex justify-content-between">
      <%= link_to "Edit", [:edit, @report_mail, @report_mail_project], class: 'btn btn-primary' %>
      <%= button_to "Duplicate", [:duplicate, @report_mail, @report_mail_project], method: :post, class: 'btn btn-secondary' %>
      <%= button_to "Destroy this report mail project", [@report_mail, @report_mail_project], method: :delete, data: { turbo_confirm: 'Delete?' }, class: 'btn btn-danger' %>
    </div>
    <%= link_to "Back to report mail", [@report_mail, anchor: dom_id(@report_mail_project)] %>

  </div>
</div>

<div class="mb-4 d-flex justify-content-between">
  <%= link_to "New report mail task", new_report_mail_project_report_mail_task_path(@report_mail_project) %>
</div>

<div id="report_mail_tasks">
  <%- @tasks.group_by(&:milestone).each do |milestone, tasks| -%>
    <div class="card mb-4">
      <div class="card-header">
        <%= milestone&.name || '- No Milestone -' %>
      </div>
      <div class="card-body">
        <%= render tasks %>
      </div>
    </div>
  <%- end -%>
</div>

